@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap');

@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #09090B;
    color: #FAFAFA;

    /* Melhora a renderização das fontes */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}